.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 449px) {
    .form {
      grid-template-columns: 1fr;
    }
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-bottom: 1px solid rgb(196, 195, 195);
    grid-gap: 10px;
    align-items: center;
}

.list__done {
    text-decoration: line-through;
}

.list__button {
    width: 27px;
    height: 30px;
    background-color: white;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.list__button--done {
    color: white;
    background-color: green;
}

.list__button--done:hover {
    background-color: hsla(125, 97%, 44%, 0.871);
}

.list__button--delete {
    background-color: red;
}

.list__button--delete:hover {
    background-color: rgb(254, 109, 133);
}